.canvas{
    background-color: yellow;
}
.snowManContainer{
    text-align: center;
}
   
/* .snowManContainer canvas {
    background-color: #22E7F9;
} */
.circleContainer{
    margin-top: 2%;
    margin-left: 25%;
}

.gifContainer{
 margin-top: 10vh;

}

.downloadButton{
    text-transform: none;
    background-color: coral;
}

@media print{
    button{
        display: none;
    }
}