.canvas{
    background-color: yellow;
}
.snowManContainer{
    display: flex;
    justify-content: center;
    margin-top: 50vh;
    margin-bottom: 50vh;
}
.snowManContainer canvas {
    background-color: #22E7F9;
}